.client {
  text-align: center;
  --card-item: 6;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-for-svg-elements);
    height: 92px;
    border-radius: 4px;
    border: 1px solid currentColor;
    transition: var(--transition);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
