.client .card-set {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.client {
  text-align: center;

  &__link {
    @media screen and (max-width: 768px) {
      width: 210px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-for-svg-elements);
    height: 92px;

    border-radius: 4px;
    border: 1px solid currentColor;
    transition: var(--transition);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__item {
    --card-item: 2;
    @media screen and (min-width: 768px) {
      --card-item: 3;
    }
    @media screen and (min-width: 1200px) {
      --card-item: 6;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
