.work {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  @include tab {
    text-align: center;

    padding-top: 0;
    --card-item: 3;
  }
}

.work__text {
  @include desk {
    @include font();
    position: absolute;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px;
    width: 100%;

    color: var(--primary-white-color);
    text-transform: uppercase;
  }
}

.work__wrap {
  @include desk {
    position: relative;
  }
}
