.social {
  display: flex;
  justify-content: center;

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    color: var(--color-for-svg-elements);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: color var(--transition), background-color var(--transition);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--primary-white-color);
    }
  }

  &__icon {
    justify-content: center;
    align-items: center;
    fill: currentColor;
  }

  &__item {
    & + & {
      margin-left: 10px;
    }
  }
}
