.item {
  margin-bottom: var(--card-gap);

  margin-left: var(--card-gap);
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
}

.card-set {
  margin-left: calc(var(--card-gap) * -1);
  margin-bottom: calc(var(--card-gap) * -1);

  display: flex;
  flex-wrap: wrap;
}
