.item {
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
  margin-top: var(--card-gap);
  margin-left: var(--card-gap);
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / var(--card-item) - var(--card-gap));
  }
}

.card-set {
  display: flex;
  margin-top: calc(var(--card-gap) * -1);
  margin-left: calc(var(--card-gap) * -1);
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
}
